{% extends "base/app.html" %}
{% load static %}
{% load custom_filter %}

{% block head %}
<title>Bean to Bar</title>
<meta name="description" content="{{ description }}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/post-index.css' %}">
<script src="{% static 'js/post-index.js' %}"></script>

{% endblock %}

{% block contents %}
<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">「原産国：{{ country_name }}」のChocolate</h2>
            </div>
        </div>
        <div class="row">
            {% include 'posts/post_list.html' %}
        </div>
    </div>
    {% include 'base/pagination.html' %}
</section>

{% endblock contents %}

{% block foot %}
{% endblock %}