{% extends "base/app.html" %}
{% load static %}

{% block head %}
<title>Bean to Bar</title>
<meta name="description" content="{{ post.text }}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/post-detail.css' %}">
{% endblock %}

{% block contents %}
<section>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Delete Post</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="alert alert-danger" role="alert">
                    <H3>「{{ post }}」を削除してもよろしいですか？</H3>
                </div>
                <p>一度削除したPostは元に戻すことはできません。</p>
                <p>また、投稿した画像も削除されます。</p>
                <p>レビューをされている場合、そのレビュースコアやコメントも削除されます。</p>
                <p><br></p>
                <form method="post">
                    <button class="btn btn-danger">上記注意を点理解の上、このPostを削除する</button>
                    {% csrf_token %}
                </form>
                <br>
            </div>
            <div class="col-lg-4">
                <img src="{{ post.picture.url }}" class="card-img rounded post_detail">
            </div>
        </div>
    </div>
</section>
{% endblock contents %}