{% extends "base/app.html" %}

{% block head %}
<title>パスワードリセット｜{{ request.site.name }}</title>
<meta name="description" content="{{ request.site.sitedetail.description }}">
{% endblock %}

{% block contents %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <h3>パスワード再設定用メール送信</h3>
            <br>
            <p>
                パスワード再設定用のメールを送信しました。<br>
                メールに記載されているリンクから再設定を行ってください。
            </p>
            <p>迷惑メールフォルダもご確認ください。</p>
        </div>
    </div>
</div>
{% endblock %}