{% extends "base/app.html" %}

{% block head %}
<title>パスワードリセット｜{{ request.site.name }}</title>
<meta name="description" content="{{ request.site.sitedetail.description }}">
{% endblock %}

{% block contents %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <h3>パスワード変更</h3>
            <br>
            <form action="" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                {% csrf_token %}
                <br>
                <button type="submit" class="btn btn-main">送信</button>
                <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-outline-secondary">戻る</a>
            </form>
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}