{% extends "base/app.html" %}

{% block head %}
<title>パスワードリセット｜{{ request.site.name }}</title>
<meta name="description" content="{{ request.site.sitedetail.description }}">
{% endblock %}

{% block contents %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <h3>パスワード変更完了</h3>
            <br>
            <p>パスワードを変更しました。<br>
            <br>
            <a class="btn btn-main" href="{% url 'login' %}">ログイン</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}